<h2>Doctor Info</h2>
Name: <%= @doctor.name %><br>
Specialty: <%= @doctor.specialty %><br>
University: <%= @doctor.university %><br>
Hospital: <%= @doctor.hospital.name %><br>
<div id="patients">
  <% @doctor.patients.each do |patient| %>
    <div id="patient_<%=patient.id%>">
      <%= patient.name %>
      <%= button_to "Remove Patient", doctor_path(@doctor), method: :patch, params: {patient_id: patient.id} %>
      <br>
    </div>
  <% end %>
</div>